<!DOCTYPE html>
<html>
    <head>
        <title>home page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="background">
        <div class="top">
            <img src="logo.png" width="80px" height="80px" class="img">
            <h1 class="txt" >BÊ…ÏƒÉ GE</h1>
            <a href="https://www.facebook.com/">
            <img src="face.jpg" width="40px" height="40px" class="img2">
            </a>
            <a href="https://www.instagram.com/accounts/login/">
                <img src="instag.jpg" width="40px" height="40px" class="img3">
                </a>
                <a href="https://id.xap.rocks/Account/Login">
                    <img src="xapp.webp" width="40px" height="40px" class="img4">
                    </a>
                 <a href="help.com">  <h3 class="h3"> Help?</h3></a>
                 
                 
                  <button id ="login" name="login" class="btn">ğ•ƒğ•†ğ”¾ğ•€â„•</button>
        </div>
        <div class="second">
            
            <img src="bloglap.jpg" width="200px"height="100px"class="img5"><br><br><br><br>
            <h1 >Creative Space|BÊ…ÏƒÉ GE</h1>
            <h3 class="text">ğ•°ğ–ğ–•ğ–‘ğ–”ğ–—ğ–Š ğ–™ğ–ğ–Š ğ–ğ–“ğ–™ğ–Šğ–—ğ–˜ğ–Šğ–ˆğ–™ğ–ğ–”ğ–“ ğ–”ğ–‹ ğ–™ğ–Šğ–ˆğ–ğ–“ğ–”ğ–‘ğ–”ğ–Œğ– ğ–†ğ–“ğ–‰ ğ–Šğ–›ğ–Šğ–—ğ–ğ–‰ğ–†ğ– ğ–‘ğ–ğ–›ğ–ğ–“ğ–Œ ğ–†ğ–‘ğ–”ğ–“ğ–Œğ–˜ğ–ğ–‰ğ–Š ğ–™ğ–ğ–•ğ–˜ ğ–‹ğ–”ğ–— ğ–ˆğ–šğ–‘ğ–™ğ–ğ–›ğ–†ğ–™ğ–ğ–“ğ–Œ ğ–† ğ–ğ–†ğ–—ğ–’ğ–”ğ–“ğ–ğ–”ğ–šğ–˜ ğ–ğ–”ğ–’ğ–Š ğ–†ğ–“ğ–‰ ğ–ğ–Šğ–†ğ–—ğ–™ğ–œğ–†ğ–—ğ–’ğ–ğ–“ğ–Œ ğ–—ğ–Šğ–‘ğ–†ğ–™ğ–ğ–”ğ–“ğ–˜ğ–ğ–ğ–•ğ–˜.</h3>
            <h6 class="text2">Refresh for the latestblog updates</h6>
            </div>
       
    <div class="latestBlogs">
        <% latestBlogs.forEach(blog => { %>
            <div class="blog1">
                
                <% if (blog.imagePath) { %>
                    <img  class="bimg"  src="<%= blog.imagePath %>" alt="Blog Image" >
                <% } %>
                <h2 class="sizein"><a href="/author/<%= blog.authorname %>" class="href"><%= blog.blogname %></a></h2><br>
                <h6 >â—˜<%= blog.authorname %></h6><br><br> <h6 >â—˜<%= blog.blogtype %></h6>
                
            </div>
        <% }); %>
    </div>
   
        
    </body>
    <script>
        var btn= document.getElementById("login");
        btn.addEventListener("click",function(event){
            window.location.href="login.html";
        });
    </script>
</html>